* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
}

.buttons {
	display: flex;
	margin-top: 100px;
}

.tmux {
	width: 100px;
}

.btn {
	padding: 0.3em;
	font-size: 1em;
	text-transform: uppercase;
	margin-left: 5px;
}
